// VARIABLES
$demarcador: solid 1px aqua;
$font-default: Arial, Helvetica, sans-serif;
$rgba-smo: rgba(0,0,0,0.05);
$rgba-low: rgba(0,0,0,0.25);
$rgba-mid: rgba(0,0,0,0.50);

$soft-shadow: 0 0 15px 0px $rgba-low;
$soft-border: solid 1px $rgba-low;
$outline: solid 1px $rgba-mid;

$color: #ffffff;
$color-ph: #a0a0a0;

$bg-btn: #158651;
$bg-btn-hover: #1ca364;
$bg-btn-look: #a0a0a0;